  #header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 550px;
      background: -moz-linear-gradient(top right, #FFF, #C0C0C0);
      background: -o-linear-gradient(top right, #FFF, #C0C0C0);
      background: linear-gradient(to bottom left, #FFF, #C0C0C0);   
      background-size: cover;
    }


  #header .title {
    display: block;
    font-size: 95px;
    color: black;
    line-height: 1;
    letter-spacing: -2px;
  }
  
  